/* ===============================
   GLOBAL RESET
================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* udah dibenerin */
    min-height: 100vh;
    background: linear-gradient(135deg, #fafbff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center; 
}